.container {
	display: flex;
	  align-items: baseline;
}

ul {
	display: inline-block;
	list-style-type: none;
	margin-right: 20px;
}

ul li {
	cursor: pointer;
	margin-bottom: 5px;
}

ul li.active {
	color:  red;
}

.select {
	position: sticky;
	top: 0;
}

.select p {
	cursor: pointer;
}